<html><head>
    <title>T-shirt store</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!--theme-style-->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">	
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
    <!--//fonts-->
    <script src="js/jquery.min.js"></script>
    <!--script-->
    </head>
    <body> 
        <!--header-->
        <div class="header">
            <div class="top-header">
                <div class="container">
                    <div class="top-header-left">
                        <ul class="support">
                            <li><a href="#"><label> </label></a></li>
                            <li><a href="#">24x7 live<span class="live"> support</span></a></li>
                        </ul>
                        <ul class="support">
                            <li class="van"><a href="#"><label> </label></a></li>
                            <li><a href="#">Free shipping <span class="live">on order over 500</span></a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="top-header-right">
                     <div class="down-top">		
                              <select class="in-drop">
                                  <option value="English" class="in-of">English</option>
                                  <option value="Japanese" class="in-of">Japanese</option>
                                  <option value="French" class="in-of">French</option>
                                  <option value="German" class="in-of">German</option>
                                </select>
                         </div>
                        <div class="down-top top-down">
                              <select class="in-drop">
                              
                              <option value="Dollar" class="in-of">Dollar</option>
                              <option value="Yen" class="in-of">Yen</option>
                              <option value="Euro" class="in-of">Euro</option>
                                </select>
                         </div>
                         <!---->
                        <div class="clearfix"> </div>	
                    </div>
                    <div class="clearfix"> </div>		
                </div>
            </div>
            <div class="bottom-header">
                <div class="container">
                    <div class="header-bottom-left">
                        <div class="logo">
                            <a href="home"><img src="images/logo.png" alt=" "></a>
                        </div>
                        <div class="search">
                            <input type="text" value="" onmouseout1="$('.search-bar').hide();
                            " onkeyup="product_search(this);" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                            <input type="submit" value="SEARCH">

                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="header-bottom-right">					
                                <ul class="login login-ul">
                                    <% if(typeof user!== 'undefined') { %>
                                    <li class="user-login" style=" margin-right: 11px;"><a href="login-show"><span><img width="31" src="images/user.png" >
                                        <strong><%= user %></strong> </a></li>
                                     
                                    <% }else{ %>

                                    <li><a href="login-show"><span> </span>LOGIN</a></li>
                                    <li><a href="signup-show">SIGNUP</a></li>
                                    <% } %>
                                </ul>
                            <div class="cart"><a href="cart-show"><span> </span>CART</a></div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>	
                </div>
            </div>
        </div>
<!--  the search bar starts -->
<div class="search-bar" >
    <ul>
        <li>PRODUCT DETAILS</li>
        <li>PRODUCT DETAILS</li>
        <li>PRODUCT DETAILS</li>
    </ul>
</div>
<!-- the search bar ends -->
        <!---->
        <div class="container">
                <div class="shoes-grid">
                <a href="javascript:void(0)">
                </a><div class="wrap-in"><a href="javascript:void(0)">
                    </a><div class="wmuSlider example1 slide-grid" style="overflow: hidden; height: 517px;"><a href="javascript:void(0)">		 
                       <div class="wmuSliderWrapper">		  
                           <article style="position: absolute; width: 100%; opacity: 0;">					
                            <div class="banner-matter">
                            <div class="col-md-5 banner-bag">
                                <img class="img-responsive " src="images/tt3.png" alt=" ">
                                </div>
                                <div class="col-md-7 banner-off">							
                                    <h2>FLAT 50% 0FF</h2>
                                    <label>FOR ALL PURCHASE <b>VALUE</b></label>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>					
                                    <span class="on-get">GET NOW</span>
                                </div>
                                
                                <div class="clearfix"> </div>
                            </div>
                            
                             </article>
                             <article style="position: absolute; width: 100%; opacity: 0;">					
                            <div class="banner-matter">
                            <div class="col-md-5 banner-bag">
                                <img class="img-responsive " src="images/tt2.PNG" alt=" ">
                                </div>
                                <div class="col-md-7 banner-off">							
                                    <h2>FLAT 50% 0FF</h2>
                                    <label>FOR ALL PURCHASE <b>VALUE</b></label>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>					
                                    <span class="on-get">GET NOW</span>
                                </div>
                                
                                <div class="clearfix"> </div>
                            </div>
                            
                             </article>
                             <article style="position: relative; width: 100%; opacity: 0;">					
                            <div class="banner-matter">
                            <div class="col-md-5 banner-bag">
                                <img class="img-responsive " src="images/tt1.PNG" alt=" ">
                                </div>
                                <div class="col-md-7 banner-off">							
                                    <h2>FLAT 50% 0FF</h2>
                                    <label>FOR ALL PURCHASE <b>VALUE</b></label>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>					
                                    <span class="on-get">GET NOW</span>
                                </div>
                                
                                <div class="clearfix"> </div>
                            </div>
                            
                             </article>
                            
                         </div>
                         </a>
                        <ul class="wmuSliderPagination">
                            <li><a href="#" class="">0</a></li>
                            <li><a href="#" class="">1</a></li>
                            <li><a href="#" class="">2</a></li>
                        </ul>
                         <script src="js/jquery.wmuSlider.js"></script> 
                      <script>
                           $('.example1').wmuSlider();         
                        </script><a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a><ul class="wmuSliderPagination"><li><a href="#" class="">0</a></li><li><a href="#" class="">1</a></li><li><a href="#" class="wmuActive">2</a></li></ul> 
                    </div>
                  </div>
                       
                         <!---->
                        <div class="shoes-grid-left">
                <a href="single.ejs">				 
                            <div class="col-md-12 con-sed-grid">
                        					
                            <img class="img-responsive shoe-left" src="images/mm1.PNG" alt=" ">
                                
                            <div class="clearfix"> </div>
                            
                            </div>
                        </a>
                        <a href="single.ejs">	
                            <div class="col-md-12 con-sed-grid sed-left-top">
                              	
                            <img class="img-responsive shoe-left" src="images/ff1.PNG" alt=" ">
                            
                            <div class="clearfix"> </div>
                            </div>
                        </a>
                        </div>
                        <div class="products">
                            <h5 class="latest-product">LATEST PRODUCTS</h5>	
                              <a class="view-all" href="product.html">VIEW ALL<span> </span></a> 		     
                        </div>
                        <div class="product-left">
                <%
                function in_array(what, where) {
                    var a=false;
                    for (var i=0; i<(where.length); i++) {
                        if(what == where[i]['product_id']) {
                            a=true;
                            break;
                        }
                    }
                    return a;
                }
                for(var k=0;k<(arr.length);k++){
                        var id=arr[k]['id'];
                        if(in_array(id,fav_arr))
                        fav=1;
                        else
                        fav=0;


                    %>
                            <div class="col-md-4 chain-grid">
                                <a href="single?id=<%= id %>"><img class="img-responsive chain" src="images/<%= arr[k]['pic'] %>" alt=" "></a>
                                <div class="grid-chain-bottom">
                                    <h6><a href="single?id=<%= id %>" class="product-title"><%= arr[k]['title'] %></a></h6>
                                    <div class="star-price">

                                        <div class="fav-icon">
                                            <a href="javascript:void(0)" onclick="add_fav('<%= id %>')">
                                                <% if(fav){ %>
                                                <img src="images/like-added.png" class="fav-icon-add-<%= id %>"
                                                >
                                                    <% }else{
                                                        %>
                                                <img src="images/like.png" class="fav-icon-add-<%= id %>"

                                                    <% } %>
                                            </a>
                                        </div>

                                        <div class="dolor-grid"> 
                                            <span class="actual">&#8377; <%= arr[k]['sp'] %></span>
                                            <% if(arr[k]['mrp']){ %>
                                            <span class="reducedfrom">&#8377; <%= arr[k]['mrp'] %></span>
                                            <% } %>
                                              
                                        </div>
                                        <a  href="add-cart/<%= id %>">
                                            <img src="images/add-to-basket.png" class="cart-btn">
                                        </a> 
                                        <div class="clearfix"> </div>
                                </div>
                                </div>
                            </div>
                        <% } %>
                     
                             <div class="clearfix"> </div>
                        </div>
                        
                        
                        <div class="clearfix"> </div>
                      </div>   
                   <div class="sub-cate">
                    <div class=" top-nav rsidebar span_1_of_left">
                        <h3 class="cate">CATEGORIES</h3>
             <ul class="menu">
            <li class="item1"><a href="#">Curabitur sapien<img class="arrow-img" src="images/arrow1.png" alt=""> </a>
                <ul class="cute" style="display: none;">
                    <li class="subitem1"><a href="product.html">Cute Kittens </a></li>
                    <li class="subitem2"><a href="product.html">Strange Stuff </a></li>
                    <li class="subitem3"><a href="product.html">Automatic Fails </a></li>
                </ul>
            </li>
            <li class="item2"><a href="#">Dignissim purus <img class="arrow-img " src="images/arrow1.png" alt=""></a>
                <ul class="cute" style="display: none;">
                    <li class="subitem1"><a href="product.html">Cute Kittens </a></li>
                    <li class="subitem2"><a href="product.html">Strange Stuff </a></li>
                    <li class="subitem3"><a href="product.html">Automatic Fails </a></li>
                </ul>
            </li>
            <li class="item3"><a href="#">Ultrices id du<img class="arrow-img img-arrow" src="images/arrow1.png" alt=""> </a>
                <ul class="cute" style="display: none;">
                    <li class="subitem1"><a href="product.html">Cute Kittens </a></li>
                    <li class="subitem2"><a href="product.html">Strange Stuff </a></li>
                    <li class="subitem3"><a href="product.html">Automatic Fails</a></li>
                </ul>
            </li>
            <li class="item4"><a href="#">Cras iacaus rhone <img class="arrow-img img-left-arrow" src="images/arrow1.png" alt=""></a>
                <ul class="cute" style="display: none;">
                    <li class="subitem1"><a href="product.html">Cute Kittens </a></li>
                    <li class="subitem2"><a href="product.html">Strange Stuff </a></li>
                    <li class="subitem3"><a href="product.html">Automatic Fails </a></li>
                </ul>
            </li>
                    <li>
                <ul class="kid-menu" style="display: none;">
                    <li><a href="product.html">Tempus pretium</a></li>
                    <li><a href="product.html">Dignissim neque</a></li>
                    <li><a href="product.html">Ornared id aliquet</a></li>
                </ul>
            </li>
            <ul class="kid-menu ">
                    <li><a href="product.html">Commodo sit</a></li>
                    <li><a href="product.html">Urna ac tortor sc</a></li>
                    <li><a href="product.html">Ornared id aliquet</a></li>
                    <li><a href="product.html">Urna ac tortor sc</a></li>
                    <li><a href="product.html">Eget nisi laoreet</a></li>
                    <li><a href="product.html">Faciisis ornare</a></li>
                    <li class="menu-kid-left"><a href="contact.html">Contact us</a></li>
                </ul>
        </ul>
                        </div>
                    <!--initiate accordion-->
            <script type="text/javascript">
                $(function() {
                    var menu_ul = $('.menu > li > ul'),
                           menu_a  = $('.menu > li > a');
                    menu_ul.hide();
                    menu_a.click(function(e) {
                        e.preventDefault();
                        if(!$(this).hasClass('active')) {
                            menu_a.removeClass('active');
                            menu_ul.filter(':visible').slideUp('normal');
                            $(this).addClass('active').next().stop(true,true).slideDown('normal');
                        } else {
                            $(this).removeClass('active');
                            $(this).next().stop(true,true).slideUp('normal');
                        }
                    });
                
                });
            </script>
                        <div class=" chain-grid menu-chain">
                                <a href="javascript:void(0)"><img class="img-responsive chain" src="images/wat.jpg" alt=" "></a>	   		     		
                                <div class="grid-chain-bottom chain-watch">
                                    <span class="actual dolor-left-grid">300$</span>
                                    <span class="reducedfrom">500$</span>  
                                    <h6><a href="javascript:void(0)">Lorem ipsum dolor</a></h6>  		     			   		     										
                                </div>
                            </div>
                             <a class="view-all all-product" href="product.html">VIEW ALL PRODUCTS<span> </span></a> 	
                </div>
                       <div class="clearfix"> </div>        	         
            </div>
        
        <!---->
        <script>
            function product_search(this1){
                
                if(this1.value.length>3){
            $.post('search_product',{key1:this1.value},function(data,status){
                $('.search-bar').show();
                $('.search-bar>ul').html(data);
            }); 
        }
            }
            function add_fav(id){
                <% if(typeof user !== 'undefined') { %>
                    //call ajax 
                    $.post("add_fav",{id:id},function(data,status){
                    if(data.includes('success')){
                        $('.fav-icon-add-'+id).attr('src','images/like-added.png');
                    }
                    });
                    <% }else{
%>
window.location="login-show";
  <%                  } %>
          

            }
        </script>
        <div class="footer" style="background:black;padding-top:30px;padding-bottom: 30px;color:white;margin-top:80px">
                <div class="container">
                    <strong>All Rights Reserved</strong>
                </div>
            </div>
    </body></html>